<!--
  Crio o pacote proway-computers atravéz do comando "ng new proway-computers"
-->

<div class="container">
  <!--
    O que colocar aqui dentro da <div class> irá respeitar o padding que o container tem!
  -->

  <app-header></app-header>

  <router-outlet></router-outlet>
  <!--
    Assim todas as paginas que acrescentar dentro do router irá aparecer entre o cabeçalho e o footer
  -->

</div>

<app-footer></app-footer>
<!--
  O footer ficará aqui fora pois ocupará toda a tela da página
-->